<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="isScrolled() ? 'scrolled-nav' : 'default-nav'">
    <div class="container">
        <a class="navbar-brand fw-bold fs-3" href="#">
            {{appName1}} <span>{{appName2}}</span>
        </a>

        <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#navContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav mx-auto align-items-center">
                <li class="nav-item"><a class="nav-link px-3" routerLink="/home" routerLinkActive="active">Home</a></li>
                <li class="nav-item"><a class="nav-link px-3" routerLink="/search" routerLinkActive="active">Search</a></li>
                <li class="nav-item"><a class="nav-link px-3" routerLink="/pricing" routerLinkActive="active">Pricing</a></li>
            </ul>
            <div class="d-flex justify-content-center align-items-center gap-2">
                <app-theme-toggler />
                <button class="btn px-4 rounded-pill fw-bold shadow"
                    [ngClass]="isScrolled() ? 'btn-danger' : 'btn-outline-danger'">
                    Login
                </button>
            </div>
        </div>
    </div>
</nav>