<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="isScrolled() ? 'scrolled-nav' : 'default-nav'">
    <div class="container">
        <a class="navbar-brand fw-bold fs-3" href="#">
            {{appName1}} <span>{{appName2}}</span>
        </a>

        <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
            data-bs-target="#navContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navContent">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item"><a class="nav-link px-3" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="#">Search</a></li>
                <li class="nav-item"><a class="nav-link px-3" href="#">Pricing</a></li>

                <li class="nav-item px-lg-3 py-2 py-lg-0">
                    <!-- <button class="btn btn-sm rounded-pill d-flex align-items-center gap-2"
                        [ngClass]="isScrolled() ? 'btn-primary' : 'btn-outline-secondary'"
                        (click)="themeService.toggleTheme()">
                        <i class="bi" [class.bi-moon-stars-fill]="themeService.theme() === 'light'"
                            [class.bi-sun-fill]="themeService.theme() === 'dark'"></i>
                        <span class="d-lg-none">Switch Theme</span>
                    </button> -->
                    <button class="btn btn-outline-danger rounded-pill fw-bold shadow" (click)="themeService.toggleTheme()">
                        <i class="bi" [class.bi-moon-stars-fill]="themeService.theme() === 'light'"
                            [class.bi-sun-fill]="themeService.theme() === 'dark'"></i>
                        <span class="d-lg-none">Switch Theme</span>
                    </button>
                </li>

                <li class="nav-item">
                    <button class="btn btn-outline-danger px-4 rounded-pill fw-bold shadow">
                        Register
                    </button>
                </li>
            </ul>
        </div>
    </div>
</nav>