<!-- <app-navbar />
<router-outlet />
<app-footer /> -->

<div class="d-flex flex-column min-vh-100 overflow-hidden">

    <header>
        <app-navbar></app-navbar>
    </header>

    <main class="flex-grow-1 overflow-hidden">
        <!-- <div class="row"> -->
            <!-- <div class="col-12"> -->
                <router-outlet></router-outlet>
            <!-- </div> -->
        <!-- </div> -->
    </main>

    <!-- <app-footer></app-footer> -->
     <app-new-footer></app-new-footer>

</div>